body{
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 20%;
    font-size: 18px;
    background-image: url("https://i.pinimg.com/originals/f9/f7/1c/f9f71ca27560524f8c9786f431501e34.png");
    background-repeat: no-repeat;
    border-radius: 2px solid;


}


.career{
    border-top: 2px solid black;
}
.experience{
    border-bottom: 2px solid black;
    padding-bottom: 2%;
}
footer.li{
    padding: 2%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: yellowgreen;
  }
}
